/* reset */
* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

/* begin main style here */
html,
body {
  font-family: Arial, sans-serif;
}

body {
  background-color: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
  padding: 0.5rem;
}

#progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  z-index: 1000;
}

#progress-fill {
  height: 100%;
  width: 0%;
  transition: width 0.016s linear;
}

.large {
  text-align: center;
  font-weight: 900;
}

.date {
  text-align: center;
  font-weight: 700;
  padding: 1rem;
}

.stats {
  margin-top: 1rem;
  text-align: center;
  font-size: small;
}

footer {
  position: fixed;
  bottom: 16px;
  right: 16px;
}

.highlight {
  color: darkred;
}

a {
  text-decoration: none;
}

.dim {
  color: #999;
}
